/*
FUENTES
*/

@font-face {
    font-family: 'encabezado';
    src:url(../fuentes/majormonodisplay.woff2);
}
h1,footer{
    font-family: 'encabezado';
}
@font-face{
    font-family: 'parrafo';
    src: url(../fuentes/parrafo.woff2);
}
p,li,table,a{
    font-family: 'parrafo';
}
@font-face{
    font-family: 'concert';
    src: url(../fuentes/concert.woff2);
}
h2,h3{
    font-family: 'concert'
}



/*
ESTILOS
*/
abbr{
    color: #414a4c;
    text-decoration: none;
}

img{
    border: dashed #c9c5cb 3px;
}

.principal{
    width: 40%;/*la foto cambia su relacion de aspecto segun el tamaño de la pagina*/
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5%;/*borde redondeado*/
}

.subfoto,h3{
    width: 200px;
    margin-left:15%;
}

.subfoto{
    border-radius: 90%;/*borde circular*/
}

h1{
    padding: 120px;
    font-size: 5.5em;
    margin: 0;
    text-align: center;
    color: #F4F0EC;
    letter-spacing: 5px;
    font-weight: bold;

    /*imagen de cabecera*/
    background-image: url('../imagenes/puerto.jpg');
    background-repeat: no-repeat;
    background-attachment:  scroll ;
    background-position: center;
    background-size: cover;
}

body{
    /*fondo*/
    margin: 0;
    background-color: #F4F0EC;
}


p,ul{
    margin: 10px;
    text-align: justify;
    width:70%;
    margin-right: auto;
    margin-left: auto;
}

.indice{
    width: 150px;
    margin-right:auto;
    margin-left: auto;
    border: dashed 3px #c9c5cb;
    padding: 20px 20px 20px 65px;
}

h2{
    border-top:solid 3px #ffa987;
    border-bottom:solid 3px #ffa987;
    font-size:25px;
    font-weight: bold;
    text-align: center;
    background-color:#e54b4b;
    padding: 10px;
    color: #F4F0EC;
    letter-spacing: 3px;
    margin-top: 0px;
 }

footer{
    padding: 70px;
    font-size: 1.5em;
    font-weight: bold;
    color: #414a4c;
    letter-spacing: 6px;
    background:linear-gradient(to bottom,#F4F0EC,#e54b4b)/*gradiente*/
}

.vueltagijon{
    border:solid;
    width:auto;
    padding-left: auto;
    margin-right: auto;
}




 /*TABLA*/
table{
    
    border-collapse: collapse;
    table-layout: fixed;
    border:solid #414a4c;
    padding-top: 20px;
    letter-spacing: 1px;
    margin: 0 auto 15px auto;
 }
thead th{
    padding: 10px;
}
caption{
    border-radius: 50px 50px 0 0;/*redondeo esquinas superiores*/
    background-color: #BED8D4;
    color: #414a4c;
    font-size: 25px;
    font-weight: bold;
    padding: 15px
}
thead{
    background-color: #c9c5cb;
    font-size: 20px;
 }
tbody{
    background-color:white;
 }
tfoot{
    background-color: #414a4c;
    color: #c9c5cb;
}
td:nth-child(1) {
    font-weight: bold;
}

/*alineamos*/

td:nth-child(1) {
    width: 20px;
}
 td:nth-child(2){
    text-align: right
 }
tbody tr td:nth-child(1){
    text-align: left;
}
.barrios{
    table-layout: fixed;
    margin: 0;
}

/*ESTILO LISTAS*/
.indice{
    list-style-type: disc;
}
.indice ol{
    list-style-type: circle;
}



/*ESTILO HIPERVINCULO*/

a:link{
    color: royalblue;
}
a:visited{
    color: blueviolet;
}


/*estilo indice*/
a{
    text-decoration: none;
}
.indice li:hover{
    background-color: #c9c5cb;
}
.subindice:hover{
    font-style: cursive;
}
a:hover{
    color:#414a4c;
    font-weight: bold;
    letter-spacing: 1px;
}

a:active{
    color:#BED8D4;
}

.vueltaindice{
    text-align: right;
    margin-right: auto;
    margin-left:85%;
}