abbr{
    color: lightslategrey;
    text-decoration: none;
}

img{
    border: solid grey 2px;
}

img.principal{
    width: 40%;/*la foto cambia su relacion de aspecto segun el tamaño de la pagina*/
    margin-left: 30%;
    margin-right: 30%;
}

img.subfoto,h3{
    width: 200px;
    margin-left:15%;
}

h1{
    padding: 20px;
    font-size: 4em;
    margin-top: 0;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}

body{
    font-family: 'Lucida Sans';
    margin: 0;
    background-color: lightblue
}


p,.nombreGijon{
    margin: 10px;
    text-align: justify;
    width:70%;
    margin-right: auto;
    margin-left: auto;
}

.indice{
    width: 150px;
    margin-right:auto;
    margin-left: auto;
    border: solid 2px grey;
}

#indice{
 }

h2{
    border-top:solid 1px grey; 
    font-size:25px;
    font-weight: bold;
    text-align: center;
    background-color:lightsteelblue;
    padding: 10px;
 }

footer{
    background-color: grey;
    padding: 30px;
    font-size: 1.5em;
 }




 /*tabla*/
.tabla{

}
table{
    border-collapse: collapse;
    border-color: cadetblue;
    table-layout: fixed;
    border:solid black;
    padding-top: 20px;
    letter-spacing: 1px;
    margin: 0 auto 15px auto;
 }
thead th{
    padding: 10px;
}
caption{
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 15px
}
thead{
    background-color: grey;
    font-size: 20px;
 }
tbody{
    background-color:white;
 }
tfoot{
    background-color: cadetblue
}
td:nth-child(1) {
    font-weight: bold;
}

/*alineamos*/

td:nth-child(1) {
    width: 20px;
}
 td:nth-child(2){
    text-align: right
 }
tbody tr td:nth-child(1){
    text-align: left;
}
.barrios{
    table-layout: fixed;
    margin: 0;
}

/*ESTILO HIPERVINCULO*/
.indice{
    list-style-type: disc;
    text-decoration: none;
}
.indice ol{
    list-style-type: circle;
}

a:link{
    color: royalblue;
}
a:visited{
    color: mediumpurple;
}

.indice li:hover{
    background-color: grey;
}
a:hover{
    color:lightsteelblue;
}

a:active{
    color:greenyellow;
}


.vueltaindice{
    text-align: right;
    margin-right: auto;
    margin-left:85%;
}